<?xml version="1.0" encoding="utf-8"?>
<robot name="end_effector_fingers" xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- Legacy fingertip markers (visual only). Prefer end_effector_empty for
       gripper-only MPC; collision is on gripper_* links. -->
  <joint name="gripped_object_joint" type="fixed">
    <xacro:transformed_origin name="gripped_object_transform" />
    <parent link="gripper"/>
    <child link="gripped_object"/>
  </joint>
  <link name="gripped_object">
    <visual>
      <origin rpy="0 0 0" xyz="0.1155 0 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="-0.0577 0.1 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="red"/>
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="-0.0577 -0.1 0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="red"/>
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
</robot>
